In [1]:
import pandas as pd

In [6]:
#1
df = pd.read_csv('lab4.csv', sep=",", index_col=0)

In [13]:
#2
df.shape

(4553, 11)

In [12]:
#3
df.columns

Index(['Date Rptd', 'AREA NAME', 'Crm Cd Desc', 'Vict Age', 'Vict Sex',
       'Vict Descent', 'Premis Desc', 'Weapon Desc', 'Status Desc', 'LOCATION',
       'Cross Street'],
      dtype='object')

In [14]:
#4
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4553 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date Rptd     4553 non-null   object
 1   AREA NAME     4553 non-null   object
 2   Crm Cd Desc   4552 non-null   object
 3   Vict Age      4553 non-null   int64
 4   Vict Sex      4300 non-null   object
 5   Vict Descent  4300 non-null   object
 6   Premis Desc   4553 non-null   object
 7   Weapon Desc   1939 non-null   object
 8   Status Desc   4553 non-null   object
 9   LOCATION      4553 non-null   object
 10  Cross Street  1430 non-null   object
dtypes: int64(1), object(10)
memory usage: 426.8+ KB

In [15]:
#5
df.count()

Date Rptd       4553
AREA NAME       4553
Crm Cd Desc     4552
Vict Age        4553
Vict Sex        4300
Vict Descent    4300
Premis Desc     4553
Weapon Desc     1939
Status Desc     4553
LOCATION        4553
Cross Street    1430
dtype: int64

In [16]:
#6
print(df.isna().sum())

Date Rptd          0
AREA NAME          0
Crm Cd Desc        1
Vict Age           0
Vict Sex         253
Vict Descent     253
Premis Desc        0
Weapon Desc     2614
Status Desc        0
LOCATION           0
Cross Street    3123
dtype: int64

In [21]:
#7
print(df.nunique())
print()
print(df['Vict Sex'].unique())
print(df['Vict Sex'].nunique())
print(df['Vict Sex'].value_counts())

Date Rptd       243
AREA NAME         9
Crm Cd Desc      75
Vict Age         86
Vict Sex          3
Vict Descent     11
Premis Desc      82
Weapon Desc      42
Status Desc       3
LOCATION        789
Cross Street    214
dtype: int64

['M' 'F' nan 'X']
3
Vict Sex
M    2580
F    1718
X       2
Name: count, dtype: int64

In [22]:
df.head()

,Date Rptd,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status Desc,LOCATION,Cross Street
0,2/20/2010 0:00,Newton,VIOLATION OF COURT ORDER,48,M,H,SINGLE FAMILY DWELLING,NaN,Adult Arrest,300 E GAGE AV,NaN
1,1/16/2010 0:00,Central,BOMB SCARE,29,F,B,LIBRARY,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,600 W 5TH ST,NaN
2,1/16/2010 0:00,Central,ROBBERY,47,M,A,SIDEWALK,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,1ST,LOS ANGELES
3,1/17/2010 0:00,Central,OTHER MISCELLANEOUS CRIME,41,M,W,ALLEY,NaN,Invest Cont,300 E OLYMPIC BL,NaN
4,1/23/2010 0:00,Central,CHILD NEGLECT (SEE 300 W.I.C.),11,M,H,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,Invest Cont,1300 S FLOWER ST,NaN

In [23]:
#8
df['Vict Age'].describe()

count    4553.000000
mean       33.244454
std        17.815441
min         0.000000
25%        23.000000
50%        34.000000
75%        46.000000
max        99.000000
Name: Vict Age, dtype: float64

In [24]:
#9
df['Vict Age'].value_counts()

Vict Age
0     544
23    162
26    131
27    127
25    122
     ...
2       1
4       1
8       1
93      1
7       1
Name: count, Length: 86, dtype: int64

In [25]:
#10
df.drop(columns=['Vict Descent'], inplace=True)

In [27]:
import numpy as np

In [28]:
#11
df['Vict Sex'] = df['Vict Sex'].replace('X', np.nan)

In [29]:
#12
df['Date Rptd'] = df['Date Rptd'].apply(pd.to_datetime)

In [30]:
#13
df['Year'] = df['Date Rptd'].dt.year
df['Month'] = df['Date Rptd'].dt.strftime('%m')

In [31]:
#14
df.drop(columns=['Date Rptd'], inplace=True)

In [33]:
#15
if df['Year'].nunique() == 1:
    df.drop(columns=['Year'], inplace=True)

In [34]:
#16
df['Month'].nunique()

8

In [35]:
#17
df.dropna(subset=['Crm Cd Desc'], inplace=True)

In [36]:
#18
df['Vict Age'] = df['Vict Age'].replace(0, np.nan)

In [37]:
#19
victim_df = df[['Crm Cd Desc', 'Vict Age', 'Vict Sex']]

In [39]:
#20
victim_df['Crm Cd Desc'].nunique()

75

In [40]:
#21
victim_df['Crm Cd Desc'].value_counts()

Crm Cd Desc
BATTERY - SIMPLE ASSAULT                                    780
THEFT PLAIN - PETTY ($950 & UNDER)                          437
BURGLARY FROM VEHICLE                                       347
THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD    332
ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT              245
                                                           ...
WEAPONS POSSESSION/BOMBING                                    1
CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT                       1
EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)                      1
BUNCO, PETTY THEFT                                            1
COUNTERFEIT                                                   1
Name: count, Length: 75, dtype: int64

In [42]:
#22
victim_df['Crm Cd Desc'].value_counts().idxmax()

'BATTERY - SIMPLE ASSAULT'

In [49]:
#23
print(victim_df['Crm Cd Desc'].value_counts().max())
most_frequent_crime = victim_df['Crm Cd Desc'].value_counts().idxmax()
most_frequent_count = victim_df['Crm Cd Desc'].value_counts().max()
total_crimes = victim_df['Crm Cd Desc'].value_counts().sum()
print((most_frequent_count / total_crimes) * 100)

780
17.135325131810195

In [50]:
#24
victim_df['Vict Age'].value_counts().head(5)

Vict Age
23.0    162
26.0    130
27.0    127
25.0    122
24.0    120
Name: count, dtype: int64

In [51]:
#25
victim_df[victim_df['Crm Cd Desc'] == 'ROBBERY'].shape[0]

231

In [54]:
#26
victim_df[(victim_df['Crm Cd Desc'] == 'ROBBERY') & (victim_df['Vict Sex'] == 'M')].shape[0]

175

In [57]:
#27
vehicle_related_crimes = victim_df['Crm Cd Desc'].isin(['VEHICLE - ATTEMPT STOLEN', 'VEHICLE - STOLEN']).sum()

vehicle_related_crimes

222

In [59]:
#28
(vehicle_related_crimes / total_crimes) * 100

4.8769771528998245

In [60]:
#29
firearm_related_crimes = victim_df['Crm Cd Desc'].str.contains('WEAPON', case=False).sum()
firearm_related_percentage = (firearm_related_crimes / total_crimes) * 100
print(firearm_related_crimes)
print(firearm_related_percentage)

456
10.017574692442881

In [61]:
#30
victim_df[victim_df['Crm Cd Desc'].str.contains('WEAPON', case=False)]['Crm Cd Desc'].unique()

array(['ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT',
       'CRIMINAL THREATS - NO WEAPON DISPLAYED', 'BRANDISH WEAPON',
       'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER',
       'WEAPONS POSSESSION/BOMBING'], dtype=object)

In [65]:
#31
victim_gender_distribution = victim_df['Vict Sex'].value_counts()
print(victim_gender_distribution)
victim_gender_distribution[0] < victim_gender_distribution[1]

Vict Sex
M    2579
F    1718
Name: count, dtype: int64

C:\Users\Admin\AppData\Local\Temp\ipykernel_16992\3118914783.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  victim_gender_distribution[0] < victim_gender_distribution[1]

False

In [72]:
#32
female_victims_df = victim_df[victim_df['Vict Sex'] == 'F']
female_victims_df['Crm Cd Desc'].value_counts().idxmax()

'BATTERY - SIMPLE ASSAULT'

In [73]:
#33
df['Premis Desc'].value_counts().idxmax()

'STREET'

In [80]:
#34
df['Premis Desc'].str.contains('SCHOOL', case=False).sum() > 0

True

In [82]:
#35
df['Status Desc'].unique()

array(['Adult Arrest', 'Invest Cont', 'Adult Other'], dtype=object)

In [84]:
#36
arrests_count = df[df['Status Desc'] == 'Adult Arrest'].shape[0]
print( (arrests_count / total_crimes) * 100)

8.699472759226714

In [85]:
#37
df['Weapon Desc'].notna().sum()

1938

In [86]:
#38
df['Weapon Desc'].value_counts().idxmax()

'STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)'

In [87]:
#39
victim_df.groupby('Vict Sex')['Crm Cd Desc'].count()

Vict Sex
F    1718
M    2579
Name: Crm Cd Desc, dtype: int64

In [91]:
#40
female_victims_df.groupby('Crm Cd Desc').size()

Crm Cd Desc
ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT     63
ATTEMPTED ROBBERY                                  10
BATTERY - SIMPLE ASSAULT                          317
BATTERY POLICE (SIMPLE)                             6
BATTERY WITH SEXUAL CONTACT                        46
                                                 ...
VANDALISM - MISDEAMEANOR ($399 OR UNDER)           89
VIOLATION OF COURT ORDER                           14
VIOLATION OF RESTRAINING ORDER                     19
VIOLATION OF TEMPORARY RESTRAINING ORDER            1
WEAPONS POSSESSION/BOMBING                          1
Length: 64, dtype: int64

In [92]:
#41
df.groupby('Month').size()

Month
01    503
02    446
03    578
04    528
05    597
06    673
07    609
08    618
dtype: int64

In [93]:
#42
victim_df.groupby('Crm Cd Desc')['Vict Age'].max()

Crm Cd Desc
ARSON                                             38.0
ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER      36.0
ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT    83.0
ATTEMPTED ROBBERY                                 76.0
BATTERY - SIMPLE ASSAULT                          99.0
                                                  ...
VEHICLE - STOLEN                                  31.0
VIOLATION OF COURT ORDER                          56.0
VIOLATION OF RESTRAINING ORDER                    56.0
VIOLATION OF TEMPORARY RESTRAINING ORDER          39.0
WEAPONS POSSESSION/BOMBING                        37.0
Name: Vict Age, Length: 75, dtype: float64

In [94]:
#43
victim_df.groupby('Crm Cd Desc')['Vict Age'].max().idxmin()

'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT'

In [95]:
#44
Zv = df.pivot_table(index='Month', columns='Crm Cd Desc', values='Vict Sex', aggfunc=np.count_nonzero)

In [96]:
#45
Zv['ROBBERY']

Month
01    30.0
02    19.0
03    29.0
04    26.0
05    31.0
06    29.0
07    30.0
08    37.0
Name: ROBBERY, dtype: float64

In [98]:
#46
Zv['ROBBERY'].max()

37.0

In [100]:
Zv.head()

Crm Cd Desc,ARSON,ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",ATTEMPTED ROBBERY,BATTERY - SIMPLE ASSAULT,BATTERY POLICE (SIMPLE),BATTERY WITH SEXUAL CONTACT,BIKE - STOLEN,BOMB SCARE,BRANDISH WEAPON,...,TRESPASSING,UNAUTHORIZED COMPUTER ACCESS,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)",VANDALISM - MISDEAMEANOR ($399 OR UNDER),VEHICLE - ATTEMPT STOLEN,VEHICLE - STOLEN,VIOLATION OF COURT ORDER,VIOLATION OF RESTRAINING ORDER,VIOLATION OF TEMPORARY RESTRAINING ORDER,WEAPONS POSSESSION/BOMBING
Month,,,,,,,,,,,,,,,,,,,,,
01,1.0,NaN,28.0,5.0,100.0,4.0,6.0,1.0,1.0,2.0,...,6.0,NaN,12.0,15.0,NaN,14.0,2.0,4.0,NaN,NaN
02,NaN,1.0,22.0,2.0,91.0,NaN,4.0,NaN,NaN,NaN,...,6.0,NaN,11.0,22.0,1.0,27.0,7.0,4.0,1.0,NaN
03,1.0,NaN,22.0,5.0,114.0,3.0,3.0,2.0,5.0,7.0,...,14.0,NaN,9.0,35.0,NaN,33.0,7.0,6.0,NaN,1.0
04,1.0,1.0,27.0,4.0,76.0,1.0,2.0,NaN,NaN,2.0,...,7.0,NaN,12.0,27.0,NaN,33.0,1.0,3.0,NaN,NaN
05,NaN,NaN,33.0,4.0,104.0,1.0,9.0,NaN,3.0,5.0,...,4.0,NaN,18.0,26.0,1.0,30.0,9.0,4.0,NaN,NaN

In [106]:
#47
zv_without_na = Zv.dropna(axis=1)
zv_without_na.columns

Index(['ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT', 'ATTEMPTED ROBBERY',
       'BATTERY - SIMPLE ASSAULT', 'BATTERY WITH SEXUAL CONTACT', 'BURGLARY',
       'BURGLARY FROM VEHICLE', 'CRIMINAL THREATS - NO WEAPON DISPLAYED',
       'DOCUMENT FORGERY / STOLEN FELONY',
       'INTIMATE PARTNER - AGGRAVATED ASSAULT',
       'INTIMATE PARTNER - SIMPLE ASSAULT',
       'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD', 'OTHER MISCELLANEOUS CRIME',
       'RAPE, FORCIBLE', 'ROBBERY', 'SHOPLIFTING - PETTY THEFT ($950 & UNDER)',
       'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)', 'THEFT OF IDENTITY',
       'THEFT PLAIN - PETTY ($950 & UNDER)', 'THEFT, PERSON',
       'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD',
       'TRESPASSING',
       'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)',
       'VANDALISM - MISDEAMEANOR ($399 OR UNDER)', 'VEHICLE - STOLEN',
       'VIOLATION OF COURT ORDER', 'VIOLATION OF RESTRAINING ORDER'],
      dtype='object', name='Crm Cd Desc')

In [99]:
#48
pivot_table_gender_crime = df.pivot_table(index='Month', columns='Vict Sex', values='Crm Cd Desc', aggfunc='count')
pivot_table_gender_crime.head()

Vict Sex    F    M
Month
01        195  290
02        176  239
03        219  323
04        198  292
05        216  347